test.ipxe
sigs/*.sig
sigs/images
sigs/fedora
sigs/centos
sigs/mirrors
sigs/scientific
images/modules.cgz
by_ip/[0-9]*
by_mac/[0-9a-f]*
ipxe/ipxe.iso
ipxe/ipxe.kpxe
ipxe/ipxe.lkrn
ipxe/ipxe.usb
ipxe/undionly.kpxe
pciids.ipxe
pxelinux.cfg/pci.ids
pxelinux.cfg/modules.pcimap
pxelinux.cfg/modules.alias
pxelinux.cfg/pxelinux.0
pxelinux.cfg/*.c32
